@charset "UTF-8";

.operation-step__number,
.introduction-search,
.button,
.middle-circle,
.external-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/shrikhand-v6-latin-regular.eot");
  src: local(""), url("../fonts/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/roboto-v27-latin-300.eot");
  src: local(""), url("../fonts/roboto-v27-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-300.woff2") format("woff2"), url("../fonts/roboto-v27-latin-300.woff") format("woff"), url("../fonts/roboto-v27-latin-300.ttf") format("truetype"), url("../fonts/roboto-v27-latin-300.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v27-latin-regular.eot");
  src: local(""), url("../fonts/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-v27-latin-500.eot");
  src: local(""), url("../fonts/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff"), url("../fonts/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin-500.svg#Roboto") format("svg");
}

* {
  font-family: "Roboto", sans-serif;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(250deg);
  }
}

@keyframes hide-slow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.external-circle {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 30%;
  border: 10px solid transparent;
  border-radius: 50%;
  animation: rotate 4000ms linear, hide-slow 1000ms 3000ms linear forwards;
  border-bottom-color: #9256dc;
  border-top-color: #9256dc;
}

.middle-circle {
  width: 120px;
  height: 120px;
  border: 10px solid transparent;
  border-radius: 50%;
  animation: rotate 4000ms linear, hide-slow 1000ms 3000ms linear forwards;
  border-left-color: #ff7ad9;
  border-right-color: #ff7ad9;
}

.internal-circle {
  width: 60px;
  height: 60px;
  border: 10px solid transparent;
  border-radius: 50%;
  animation: rotate 4000ms linear, hide-slow 1000ms 3000ms linear forwards;
  border-bottom-color: #98e2cf;
  border-top-color: #98e2cf;
}

@keyframes waiting-soft {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.page {
  opacity: 0.1;
  animation: waiting-soft 1000ms 4000ms linear forwards;
}

.header__h1 {
  margin: 0;
  padding: 12px 0 5px 0;
  background-color: white;
  font: lighter 30px "Shrikhand", serif;
  text-align: center;
}

.footer {
  width: 100%;
  height: 195px;
  padding-left: 20px;
  background-color: #363636;
  color: white;
}

.footer__h2 {
  margin: 0;
  padding: 19px 0;
  font: lighter 18px "Shrikhand", serif;
}

.footer-line {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.footer-line__icon {
  margin-right: 10px;
  font-size: 13px;
}

.footer-line__h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.footer-line__mail {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1920px;
}

.button {
  width: 220px;
  height: 50px;
  margin: 0 auto;
  box-shadow: 0 3px 10px 1px #afacac;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #ff7ad9, #9256dc) white;
  opacity: 1;
  transition: box-shadow 300ms linear, opacity 300ms linear;
}

.button__p {
  color: white;
  font-size: 15px;
}

.button:hover {
  box-shadow: 0 3px 10px 1px #706b6b;
  cursor: pointer;
  opacity: 0.9;
}

.introduction {
  width: 100%;
  padding-bottom: 50px;
  background-color: whitesmoke;
}

.introduction-search {
  box-shadow: inset 0px 4px 5px -3px #afacac;
  background-color: #ebebeb;
}

.introduction-search__icon {
  margin: 0 20px 6px 0;
}

.introduction-search__p {
  font-size: 17px;
}

.introduction__h2 {
  margin: 35px 50px 0 50px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.introduction__p {
  margin: 14px 20px 30px 20px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .wrap-op {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.operation__h2 {
  margin: 45px 0 5px 5%;
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  .operation__h2 {
    display: inline-block;
    height: 40px;
    margin-left: 3%;
    border-bottom: 5px solid #98e2cf;
  }
}

.operation-step {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 375px) {
  .operation-step {
    width: 375px;
  }
}

@media screen and (min-width: 750px) {
  .operation-step {
    margin: 15px 0;
  }
}

.operation-step__number {
  position: relative;
  width: 24px;
  height: 24px;
  top: 51px;
  left: -10px;
  border-radius: 50px;
  background-color: #9256dc;
  color: white;
  font-size: 14px;
}

@media screen and (min-width: 375px) {
  .operation-step__number {
    left: 17px;
  }
}

.operation-step__action {
  display: flex;
  align-items: center;
  height: 75px;
  margin: auto;
  box-shadow: 0 3px 10px 1px #e1e0e0;
  border-radius: 20px;
  background-color: whitesmoke;
}

@media screen and (min-width: 375px) {
  .operation-step__action {
    width: 320px;
  }
}

.operation-step__action .fas {
  margin-left: 35px;
  color: gray;
}

.operation-step__action p {
  font-weight: 500;
}

.operation-step__action--pink {
  background-color: #f4eefc;
}

.operation-step__action .fa-mobile-alt {
  margin-right: 30px;
  font-size: 21px;
}

.operation-step__action .fa-list-ul {
  margin-right: 24px;
  font-size: 19px;
}

.operation-step__action .fa-store {
  margin-right: 23px;
  color: #9256dc;
}

.navigation {
  width: 100vw;
  max-width: 1187px;
  margin-top: 60px;
  padding: 45px 0;
  background-color: whitesmoke;
}

@media screen and (min-width: 480px) {
  .navigation {
    padding: 10px 0 20px 0;
  }
}

@media screen and (min-width: 750px) {
  .navigation {
    margin-bottom: 60px;
  }
}

.navigation__h2 {
  margin: 20px 0 21px 5%;
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  .navigation__h2 {
    display: inline-block;
    height: 40px;
    margin: 20px 0 40px 3%;
    border-bottom: 5px solid #98e2cf;
  }
}

@media screen and (min-width: 750px) {
  .wrap-two-resto {
    display: flex;
    justify-content: space-evenly;
  }
}

.resto {
  width: 90%;
  height: 250px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  box-shadow: 0 3px 10px 1px #e1e0e0;
  border-radius: 15px;
  background-color: white;
}

@media screen and (min-width: 480px) {
  .resto {
    margin: 0 auto 5% auto;
    height: 330px;
  }
}

@media screen and (min-width: 750px) {
  .resto {
    width: 45%;
    height: 250px;
    margin: 0 0 3% 0;
  }
}

@media screen and (min-width: 970px) {
  .resto {
    height: 350px;
  }
}

.resto-picture {
  height: 170px;
  background: center bottom/cover no-repeat;
  background-color: #ff7ad9;
}

@media screen and (min-width: 480px) {
  .resto-picture {
    background-position: center;
    height: 250px;
  }
}

@media screen and (min-width: 750px) {
  .resto-picture {
    height: 170px;
  }
}

@media screen and (min-width: 970px) {
  .resto-picture {
    height: 270px;
  }
}

.resto-picture--laPaletteDuGout {
  background-image: url("../images/la-palette-du-gout-337px.jpg");
}

@media screen and (min-width: 375px) {
  .resto-picture--laPaletteDuGout {
    background-image: url("../images/la-palette-du-gout-479px.jpg");
  }
}

@media screen and (min-width: 480px) {
  .resto-picture--laPaletteDuGout {
    background-image: url("../images/la-palette-du-gout-675px.jpg");
  }
}

@media screen and (min-width: 750px) {
  .resto-picture--laPaletteDuGout {
    background-image: url("../images/la-palette-du-gout-479px.jpg");
  }
}

@media screen and (min-width: 970px) {
  .resto-picture--laPaletteDuGout {
    background-image: url("../images/la-palette-du-gout-535px.jpg");
  }
}

.resto-picture--laNoteEnchantee {
  background-position: center;
  background-image: url("../images/la-note-enchantee-337px.jpg");
}

@media screen and (min-width: 375px) {
  .resto-picture--laNoteEnchantee {
    background-image: url("../images/la-note-enchantee-479px.jpg");
  }
}

@media screen and (min-width: 480px) {
  .resto-picture--laNoteEnchantee {
    background-image: url("../images/la-note-enchantee-675px.jpg");
  }
}

@media screen and (min-width: 750px) {
  .resto-picture--laNoteEnchantee {
    background-image: url("../images/la-note-enchantee-479px.jpg");
  }
}

@media screen and (min-width: 970px) {
  .resto-picture--laNoteEnchantee {
    background-image: url("../images/la-note-enchantee-535px.jpg");
  }
}

.resto-picture--aLaFrancaise {
  background-image: url("../images/a-la-francaise-337px.jpg");
}

@media screen and (min-width: 375px) {
  .resto-picture--aLaFrancaise {
    background-image: url("../images/a-la-francaise-479px.jpg");
  }
}

@media screen and (min-width: 480px) {
  .resto-picture--aLaFrancaise {
    background-image: url("../images/a-la-francaise-675px.jpg");
  }
}

@media screen and (min-width: 750px) {
  .resto-picture--aLaFrancaise {
    background-image: url("../images/a-la-francaise-479px.jpg");
  }
}

@media screen and (min-width: 970px) {
  .resto-picture--aLaFrancaise {
    background-image: url("../images/a-la-francaise-535px.jpg");
  }
}

.resto-picture--leDeliceDesSens {
  background-image: url("../images/le-delice-des-sens-337px.jpg");
}

@media screen and (min-width: 375px) {
  .resto-picture--leDeliceDesSens {
    background-image: url("../images/le-delice-des-sens-479px.jpg");
  }
}

@media screen and (min-width: 480px) {
  .resto-picture--leDeliceDesSens {
    background-image: url("../images/le-delice-des-sens-675px.jpg");
  }
}

@media screen and (min-width: 750px) {
  .resto-picture--leDeliceDesSens {
    background-image: url("../images/le-delice-des-sens-479px.jpg");
  }
}

@media screen and (min-width: 970px) {
  .resto-picture--leDeliceDesSens {
    background-image: url("../images/le-delice-des-sens-535px.jpg");
  }
}

.resto-picture__new {
  float: right;
  width: 80px;
  height: 27px;
  margin: 15px 18px 0 0;
  background-color: #98e2cf;
}

.resto-picture__new p {
  margin: 0;
  padding-top: 5px;
  color: #1b5f4e;
  font-size: 14px;
  text-align: center;
}

.resto-description {
  display: flex;
  justify-content: space-between;
  margin: 16px 25px 0 15px;
}

.resto-description__detail h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 500;
}

.resto-description__detail p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

.resto-description__heart {
  margin: 8px 20px 0 0;
}

.resto-description__heart .fa-heart {
  position: absolute;
  font-size: 23px;
}

.resto-description .heart-first {
  z-index: 2;
}

.resto-description .heart-first:hover {
  z-index: 1;
}

.resto-description .heart-second {
  z-index: 1;
  color: white;
  transition: color 500ms linear;
}

.resto-description .heart-second:hover {
  z-index: 2;
  background: linear-gradient(to bottom, #9256dc, #ff7ad9);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}
