@charset "UTF-8";

.dish-slide,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dish-detail__p,
.dish-detail__h4,
.dish-detail {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/shrikhand-v6-latin-regular.eot");
  src: local(""), url("../fonts/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/roboto-v27-latin-300.eot");
  src: local(""), url("../fonts/roboto-v27-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-300.woff2") format("woff2"), url("../fonts/roboto-v27-latin-300.woff") format("woff"), url("../fonts/roboto-v27-latin-300.ttf") format("truetype"), url("../fonts/roboto-v27-latin-300.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v27-latin-regular.eot");
  src: local(""), url("../fonts/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-v27-latin-500.eot");
  src: local(""), url("../fonts/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff"), url("../fonts/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin-500.svg#Roboto") format("svg");
}

* {
  font-family: "Roboto", sans-serif;
}

@keyframes hide-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

#gradual-onset-one {
  animation: hide-show 500ms linear 500ms forwards, slide 500ms linear 500ms forwards;
}

#gradual-onset-two {
  animation: hide-show 500ms linear 800ms forwards, slide 500ms linear 800ms forwards;
}

#gradual-onset-three {
  animation: hide-show 500ms linear 1100ms forwards, slide 500ms linear 1100ms forwards;
}

#gradual-onset-four {
  animation: hide-show 500ms linear 1700ms forwards, slide 500ms linear 1700ms forwards;
}

#gradual-onset-five {
  animation: hide-show 500ms linear 2000ms forwards, slide 500ms linear 2000ms forwards;
}

#gradual-onset-six {
  animation: hide-show 500ms linear 2300ms forwards, slide 500ms linear 2300ms forwards;
}

#gradual-onset-seven {
  animation: hide-show 500ms linear 3000ms forwards, slide 500ms linear 3000ms forwards;
}

#gradual-onset-eight {
  animation: hide-show 500ms linear 3300ms forwards, slide 500ms linear 3300ms forwards;
}

#gradual-onset-nine {
  animation: hide-show 500ms linear 3600ms forwards, slide 500ms linear 3600ms forwards;
}

.header__h1 {
  margin: 0;
  padding: 12px 0 5px 0;
  background-color: white;
  font: lighter 30px "Shrikhand", serif;
  text-align: center;
}

.footer {
  width: 100%;
  height: 195px;
  padding-left: 20px;
  background-color: #363636;
  color: white;
}

.footer__h2 {
  margin: 0;
  padding: 19px 0;
  font: lighter 18px "Shrikhand", serif;
}

.footer-line {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.footer-line__icon {
  margin-right: 10px;
  font-size: 13px;
}

.footer-line__h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.footer-line__mail {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1920px;
}

.button {
  width: 220px;
  height: 50px;
  margin: 0 auto;
  box-shadow: 0 3px 10px 1px #afacac;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #ff7ad9, #9256dc) white;
  opacity: 1;
  transition: box-shadow 300ms linear, opacity 300ms linear;
}

.button__p {
  color: white;
  font-size: 15px;
}

.button:hover {
  box-shadow: 0 3px 10px 1px #706b6b;
  cursor: pointer;
  opacity: 0.9;
}

.main {
  width: 100vw;
  max-width: 1187px;
}

.header__icon {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #363636;
  font-size: 19px;
}

@media screen and (min-width: 1187px) {
  .header__icon {
    display: none;
  }
}

.menu {
  background-color: whitesmoke;
  padding-bottom: 80px;
}

.menu-header {
  height: 272px;
  background: center/cover no-repeat #98e2cf;
}

.menu-header--aLaFrancaise {
  background-image: url("../images/a-la-francaise-337px.jpg");
}

@media screen and (min-width: 375px) {
  .menu-header--aLaFrancaise {
    background-image: url("../images/a-la-francaise-479px.jpg");
  }
}

@media screen and (min-width: 480px) {
  .menu-header--aLaFrancaise {
    background-image: url("../images/a-la-francaise-749px.jpg");
  }
}

@media screen and (min-width: 750px) {
  .menu-header--aLaFrancaise {
    background-image: url("../images/a-la-francaise-969px.jpg");
  }
}

@media screen and (min-width: 970px) {
  .menu-header--aLaFrancaise {
    background-image: url("../images/a-la-francaise-1187px.jpg");
  }
}

@media screen and (min-width: 480px) {
  .menu-header {
    height: 350px;
  }
}

@media screen and (min-width: 970px) {
  .menu-header {
    height: 400px;
    background-position: center;
  }
}

.menu-header__banner {
  position: relative;
  top: 218px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-radius: 40px 40px 0 0;
  background-color: whitesmoke;
}

@media screen and (min-width: 480px) {
  .menu-header__banner {
    top: 296px;
  }
}

@media screen and (min-width: 970px) {
  .menu-header__banner {
    top: 366px;
  }
}

.menu-header__banner h2 {
  margin: 50px 0 22px 20px;
  font: lighter 27px "Shrikhand", serif;
}

.menu-header__banner .fa-heart {
  position: absolute;
  margin: 28px 0 0 87%;
  font-size: 23px;
}

@media screen and (min-width: 1187px) {
  .menu-header__banner .fa-heart {
    margin-left: 95%;
  }
}

.menu-header__banner .heart-first {
  z-index: 2;
}

.menu-header__banner .heart-first:hover {
  z-index: 1;
}

.menu-header__banner .heart-second {
  z-index: 1;
  color: white;
  transition: color 500ms linear;
}

.menu-header__banner .heart-second:hover {
  z-index: 2;
  background: linear-gradient(to bottom, #9256dc, #ff7ad9);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 970px) {
  .menu-stage {
    padding-top: 10px;
  }
}

.menu-stage__h3 {
  margin: 12px 0 16px 20px;
  font-size: 16px;
  font-weight: 300;
}

.menu-stage__h3--underline {
  display: inline-block;
  height: 27px;
  margin-top: 30px;
  border-bottom: 3px solid #98e2cf;
}

@media screen and (min-width: 375px) {
  .menu-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.dish {
  display: flex;
  width: 90%;
  height: 70px;
  margin: 0 10px 12px 10px;
  box-shadow: 0 3px 10px 1px #e1e0e0;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
}

@media screen and (min-width: 375px) {
  .dish {
    width: 345px;
  }
}

.dish-detail {
  width: 90%;
}

@media screen and (min-width: 375px) {
  .dish-detail {
    width: 345px;
  }
}

.dish-detail__h4 {
  margin: 0;
  padding: 12px 0 0 15px;
  font-size: 18px;
  font-weight: 400;
}

.dish-detail__p {
  margin: 0;
  padding: 5px 0 0 15px;
  font-size: 15px;
  font-weight: 300;
}

.dish-price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.dish-price__p {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
}

.dish-slide {
  width: 70px;
  height: 70px;
  margin-right: -80px;
  background-color: #98e2cf;
  transition: margin 500ms linear;
}

@media screen and (min-width: 375px) {
  .dish-slide {
    width: 90px;
  }
}

.dish-slide__icon {
  color: white;
  font-size: 22px;
}

.dish:hover .dish-slide {
  margin: 0;
}

.dish:hover .dish-slide__icon {
  transform: rotate(360deg);
  transition: transform 500ms linear;
}

.button {
  margin-top: 50px;
}
