@charset "UTF-8";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

.header__h1 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #ffffff;
  font-family: "Shrikhand", serif;
  font-size: 31px;
  font-weight: lighter;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 1920px;
}

.page {
  width: 375px;
  height: 1200px;
  border: 1px solid black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  margin: 0 auto 0 auto;
  box-shadow: 0 3px 10px 1px #afacac;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #ff7ad9, #9256dc);
}
.button__p {
  color: #ffffff;
  font-size: 15px;
}

.header {
  height: 400px;
  background-color: #f6f6f6;
}
.header__h2 {
  margin: 35px 50px 5px 50px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.header__p {
  margin: 14px 20px 30px 20px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  box-shadow: inset 0px 4px 5px -3px #afacac;
  background-color: #eaeaea;
}
.search__icon {
  font-size: 16px;
  margin-bottom: 6px;
  margin-left: 103px;
}
.search__p {
  font-size: 16px;
  margin-left: 16px;
}

.bloc-step {
  width: 375px;
}
.bloc-step__number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  top: 48px;
  left: 17px;
  border-radius: 50px;
  background-color: #9256dc;
  color: #ffffff;
  font-size: 14px;
}

.step {
  display: flex;
  align-items: center;
  width: 320px;
  height: 70px;
  margin: auto;
  box-shadow: 0 3px 10px 1px #e7e6e6;
  border-radius: 20px;
  background-color: #f6f6f6;
}
.step__icon {
  margin-left: 35px;
  color: #808080;
}
.step__p {
  font-weight: 500;
}
.step--pink {
  background-color: #f5edff;
}
.step .fa-mobile-alt {
  margin-right: 30px;
  font-size: 21px;
}
.step .fa-list-ul {
  margin-right: 24px;
  font-size: 19px;
}
.step .fa-store {
  margin-right: 23px;
  color: #9256dc;
}

/* *. End
---------------------------*/