// -----------------------------------------------------------------------------
// * This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// ================MENU================
// - 1. Section "introduction"
// - 2. Section "operation"
// - 3. Nav "navigation"
// - 4. Restaurant module
// ====================================

// - 1. Section "introduction"
// --------------------------
.introduction {
  width: 100%;
  padding-bottom: 50px;
  background-color: $background-color;

  // Search module (barre de recherche de localité)
  &-search {
    @extend %flex-all-center;
    box-shadow: inset 0px 4px 5px -3px $shadow-color;
    background-color: hsl(0, 0%, 92%);

    // Icone de localisation
    &__icon {
      margin: 0 20px 6px 0;
    }

    // Ville, quartier
    &__p {
      font-size: 17px;
    }
  }

  &__h2 {
    margin: 35px 50px 0 50px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }

  &__p {
    margin: 14px 20px 30px 20px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
}

// - 2. Section "operation"
// --------------------------
@include md {
  .wrap-op {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.operation {
  &__h2 {
    margin: 45px 0 5px 5%;
    font-size: 24px;
    font-weight: 500;

    @include sm {
      display: inline-block;
      height: 40px;
      margin-left: 3%;
      border-bottom: 5px solid $tertiary-color;
    }
  }

  // Step module (bloc contenant le numero et la vignette d'action)
  &-step {
    width: 90%;
    margin: auto;

    @include xs {
      width: 375px;
    }

    @include md {
      margin: 15px 0;
    }

    // Numero "rond et violet"
    &__number {
      position: relative;
      @extend %flex-all-center;
      width: 24px;
      height: 24px;
      top: 51px;
      left: -10px;
      border-radius: 50px;
      background-color: $primary-color;
      color: hsl(0, 0%, 100%);
      font-size: 14px;

      @include xs {
        left: 17px;
      }
    }

    // Vignette d'action
    &__action {
      display: flex;
      align-items: center;
      height: 75px;
      margin: auto;
      box-shadow: 0 3px 10px 1px lighten($shadow-color, $percent-light-shadow);
      border-radius: 20px;
      background-color: $background-color;

      @include xs {
        width: 320px;
      }

      // Logo de la vignette
      .fas {
        margin-left: 35px;
        color: hsl(0, 0%, 50%);
      }

      // Texte de la vignette
      p {
        font-weight: 500;
      }

      // Dernière vignette à fond rose
      &--pink {
        background-color: lighten($primary-color, 36%);
      }

      // Logo "téléphone"
      .fa-mobile-alt {
        margin-right: 30px;
        font-size: 21px;
      }

      // Logo "liste"
      .fa-list-ul {
        margin-right: 24px;
        font-size: 19px;
      }

      // Logo "échope"
      .fa-store {
        margin-right: 23px;
        color: $primary-color;
      }
    }
  }
}

// - 3. Nav "navigation"
// --------------------------
.navigation {
  width: 100vw;
  max-width: $golden-width;
  margin-top: 60px;
  padding: 45px 0;
  background-color: $background-color;

  @include sm {
    padding: 10px 0 20px 0;
  }

  @include md {
    margin-bottom: 60px;
  }

  &__h2 {
    margin: 20px 0 21px 5%;
    font-size: 24px;
    font-weight: 500;

    @include sm {
      display: inline-block;
      height: 40px;
      margin: 20px 0 40px 3%;
      border-bottom: 5px solid $tertiary-color;
    }
  }
}

// - 4. Restaurant module
// --------------------------
.wrap-two-resto {
  @include md {
    display: flex;
    justify-content: space-evenly;
  }
}

.resto {
  width: 90%;
  height: 250px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  box-shadow: 0 3px 10px 1px lighten($shadow-color, $percent-light-shadow);
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);

  @include sm {
    margin: 0 auto 5% auto;
    height: 330px;
  }

  @include md {
    width: 45%;
    height: 250px;
    margin: 0 0 3% 0;
  }

  @include lg {
    height: 350px;
  }

  // Bloc photo
  &-picture {
    height: 170px;
    background: center bottom / cover no-repeat;
    background-color: $secondary-color;

    @include sm {
      background-position: center;
      height: 250px;
    }

    @include md {
      height: 170px;
    }

    @include lg {
      height: 270px;
    }

    // Image resto 1  
    &--laPaletteDuGout {
      background-image: url('../images/la-palette-du-gout-337px.jpg');

      @include xs {
        background-image: url('../images/la-palette-du-gout-479px.jpg');
      }

      @include sm {
        background-image: url('../images/la-palette-du-gout-675px.jpg');
      }

      @include md {
        background-image: url('../images/la-palette-du-gout-479px.jpg');
      }

      @include lg {
        background-image: url('../images/la-palette-du-gout-535px.jpg');
      }
    }

    // Image resto 2
    &--laNoteEnchantee {
      background-position: center;
      background-image: url('../images/la-note-enchantee-337px.jpg');

      @include xs {
        background-image: url('../images/la-note-enchantee-479px.jpg');
      }

      @include sm {
        background-image: url('../images/la-note-enchantee-675px.jpg');
      }

      @include md {
        background-image: url('../images/la-note-enchantee-479px.jpg');
      }

      @include lg {
        background-image: url('../images/la-note-enchantee-535px.jpg');
      }
    }

    // Image resto 3
    &--aLaFrancaise {
      background-image: url('../images/a-la-francaise-337px.jpg');

      @include xs {
        background-image: url('../images/a-la-francaise-479px.jpg');
      }

      @include sm {
        background-image: url('../images/a-la-francaise-675px.jpg');
      }

      @include md {
        background-image: url('../images/a-la-francaise-479px.jpg');
      }

      @include lg {
        background-image: url('../images/a-la-francaise-535px.jpg');
      }
    }

    // Image resto 4
    &--leDeliceDesSens {
      background-image: url('../images/le-delice-des-sens-337px.jpg');

      @include xs {
        background-image: url('../images/le-delice-des-sens-479px.jpg');
      }

      @include sm {
        background-image: url('../images/le-delice-des-sens-675px.jpg');
      }

      @include md {
        background-image: url('../images/le-delice-des-sens-479px.jpg');
      }

      @include lg {
        background-image: url('../images/le-delice-des-sens-535px.jpg');
      }
    }

    // Encart "Nouveau"
    &__new {
      float: right;
      width: 80px;
      height: 27px;
      margin: 15px 18px 0 0;
      background-color: $tertiary-color;

      p {
        margin: 0;
        padding-top: 5px;
        color: darken($tertiary-color, 40%);
        font-size: 14px;
        text-align: center;
      }
    }
  }

  // Bloc sous la photo
  &-description {
    display: flex;
    justify-content: space-between;
    margin: 16px 25px 0 15px;

    // Bloc avec "nom" et "lieu"
    &__detail {

      // Nom
      h3 {
        margin: 0 0 5px 0;
        font-size: 18px;
        font-weight: 500;
      }

      // Lieu
      p {
        margin: 0;
        font-size: 17px;
        font-weight: 300;
      }
    }

    // Bloc contenant les deux coeurs
    &__heart {
      margin: 8px 20px 0 0;

      // Logos "heart"
      .fa-heart {
        position: absolute;
        font-size: 23px;
      }
    }

    // Apparition du dégradé dans le coeur
    @include heart;
  }
}

// * End
// * ------------------------