// -----------------------------------------------------------------------------
// * This file contains very basic layouts.
// -----------------------------------------------------------------------------

.container {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: $max-width;
}

// * End
// * ------------------------
